<h1><%= full_command_name %></h1>
<p><%= description %></p>

<h2>Inputs</h2>
<%= render_html_list(inputs_type) %>

<h2>Result</h2>
<%= render_html_list(result_type) %>

<h2>Possible Errors</h2>
<%= render_html_list(possible_errors) %>
